$dark-theme: rgb(64, 55, 91);
.loader {
    align-items: center;
    background: linear-gradient(180deg, rgba(47, 101, 190, 1) 0%, rgba(86, 157, 225, 1) 50%, rgba(208, 228, 243, 1) 100%);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    user-select: none;
    animation: loadingdis 3s linear forwards;

    @keyframes loadingdis {
        0% {
            border-radius: 0;
        }

        90% {
            border-radius: 0;
        }

        100% {
            border-radius: 0 0 50% 50%;
        }
    }

    .loadingtxt {
        position: absolute;
        top: 53%;
        font-size: 100px;
        text-align: center;
        color: white;
        font-family: 'Nunito', sans-serif;
        animation: loadingtxtani 3s linear forwards;

        @include res(mobile) {
            font-size: 60px;
        }

        @keyframes loadingtxtani {
            0% {
                opacity: 0;
            }

            22% {
                opacity: 1;
            }

            44% {
                opacity: 0;
            }

            66% {
                opacity: 1;
            }

            88% {
                opacity: 0;
            }

            100% {
                opacity: 0;
            }
        }
    }
}
