$medium: 1079px;
$mobile: 768px;

@mixin medium {
    @media screen and (max-width: $medium) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: $mobile) {
        @content;
    }
}

.otoiawase{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    p{
        font-size: 2rem;
        text-align: center;
        color: white;
        font-family: 'M PLUS 1', sans-serif;
        @include mobile{
            font-size: 1rem;
        }
    }
    a{
        text-align: center;
        color: white;
        font-size: 3rem;
        font-family: 'M PLUS 1', sans-serif;
        @include mobile{
            font-size: 1.2rem;
        }
    }
    .no-spam{
        display: none;
    }
}